
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	justify content: space-between;
	gap:10px;
	padding:10px;
	background-color: #f2f2f2;
}
.item{
	flex: 0 0 150px;  
	background-color: #4caf50;
	color: white;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
}